<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="../../dist/ionic-datepicker.bundle.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <style type="text/css">
      input.selectedDate { width: 100%; }
    </style>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Test of ionic date picker</h1>
      </ion-header-bar>
      <ion-content ng-controller="mainController">
        <div class="row">
          <div class="col-40">
            <button class="button button-block button-balanced" ng-click="openDatePickerStandard()">Starts on Sunday, day selection, popup</button>
          </div>
          <div class="col-20">
          </div>
          <div class="col-40">
            <button class="button button-block button-balanced" ng-click="openDatePickerStandardModal()">Starts on Sunday, day selection, modal</button>
          </div>
        </div>
        <div class="row">
          <input type="text" class="selectedDate" ng-model="datepicker1"/>
        </div>
        <div class="row">
          <div class="col-40">
            <button class="button button-block button-balanced" ng-click="openDatePickerWeek()">Starts on Sunday, week selection, popup</button>
          </div>
          <div class="col-20">
          </div>
          <div class="col-40">
            <button class="button button-block button-balanced" ng-click="openDatePickerWeekModal()">Starts on Sunday, week selection, modal</button>
          </div>
        </div>
        <div class="row">
          <input type="text" class="selectedDate" ng-model="datepicker2"/>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
